$desktop_min_font: 16;
$desktop_max_font: 20;
$desktop_min_break_point: 600;
$desktop_max_break_point: 1300;

$mobile_min_font: 10;
$mobile_max_font: 15;
$mobile_min_break_point: 100;
$mobile_max_break_point: 600;